<div class="jumbotron">
    <p>Diagnostic REST API - веб-служба, предназначенная для взаимодействия с другими приложениями и службами, с целью предоставления и обмена информацией о результатах проводимой автоматизирповаанной диагностики секций локомотивов, оборудованных автоматизированной системой контроля (АСК) производства АО "ВНИКТИ" </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Узнать больше &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Как это работает?</h2>
        <p>Мы раскажем как устроен Diagnostic REST API и как и для чего можно использовать его функционал.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Пример запроса?</h2>
        <p>Вы можете прочитать о том, как использовать функцианал данного приложения для получения информации, о результатах проведимой автоматизированной диагностике и анализу параметров работы секции локомотива.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Описание форматов результатов?</h2>
        <p>Описание форматов моделей результатов, тип возращаемых обьектов и другая полезная информация о том, в каком виде отправляется резултаты обработки запросов к Diagnostic REST API.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Узнать больше &raquo;</a></p>
    </div>
</div>
